*/bin
*/lib
*.pyc
*.pyo
*.pyd
*.pdb
*.so
*.egg
*.egg-info
*.dist-info
*.whl
__pycache__
*.ipynb_checkpoints
*.coverage
.coverage.*
*.mypy_cache
*.pytest_cache
*.hypothesis
*.tox
*.venv
.env
*.env.*
*.DS_Store
*.vscode
*.idea
*.swp
*.swo
*.bak
*.tmp
*.log
*.out
*.err
*.pid
*.seed
*/pyvenv.cfg
